@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: url("../images/bg-header-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-color: #f0f0f0;
}

#root {
  margin-top: 5%;
  width: 85%;
}
